.board { 
    position: relative;
    margin:100px auto;
    height: 300px; 
    width: 300px; 
    border: 2px solid black; 
}
.tile{
    height: 99px;
    width:99px;
    border:1px solid black;
    position: absolute;
    top: 0;
    left:0;
    font-size: 80px;
    text-align: center;
    background: aqua;
    color:black;
}