#box { width:400px; height:200px; margin:10px auto; background:rgb(248, 151, 151); }
#box2 { width:400px; height:200px; margin:10px auto; background:rgb(241, 241, 183); }
#box3 { width:400px; height:200px; margin:10px auto; background:rgb(151, 194, 151); }

.menu{ width:100px; height:30px; margin:50px auto; background:black; color:white; }
.menuItem{ width:100px; height:60px; margin:50px auto; background:black; color:white; }

#a{ width:100px; height:100px; margin:50px auto; background:black; color:white;}
#b{ width:100px; height:100px; margin:50px auto; background:black; color:white; font-size:100px; text-align:center; }
